
.dot {
  border-style: solid;
  border-color: black;
  height: 25px;
  width: 25px;
  display: inline-block;
  margin: 2px;
}

.on-dot {
  background-color: #000;
  border-radius: 50%;
}

.off-dot {
  background-color: #bbb;
  border-radius: 50%;
}

@keyframes blink {
  0% { opacity: 1; }
  20% { opacity: 0; }
  100% { opacity: 1; }
}

.dot--once {
  animation: blink 0.5s 1;
}

.highlighted-dot {
    background-color: blue;
}
